* {
    outline: 0;
}

/* ========== Body ========== */

html {
    height: 100%;
    width: 100%;
}

body {
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

#page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: visible;
}

/* ========== Header ========== */

#header {
    padding: 20px 0;
    background-color: #0a7599;
    color: white;
}

#title {
    text-align: center;
    font-weight: lighter;
    font-size: 80px;
    line-height: 80px;
    animation: slideAndFade 1s ease-in-out 0s 1 both;
}

#subtitle {
    text-align: center;
    font-weight: lighter;
    font-size: 40px;
    line-height: 40px;
    margin-top: 15px;
    animation: slideAndFade 1s ease-in-out 0.5s 1 both;
}

/* ========== Page ========== */

#wrap{
    margin: 10px 5% 0 5%;
    width: 90%;
    height: 100%;
}

#navbar{
    display: inline-block;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70%;
    width: 70%;
    padding: 0;
    transform: translate(-50%, -50%);

    text-align: center;
    font-size: 80px;
    background-color: #0a7599;
    color: white;
    border-radius: 50%;
}

/* ========== Info ========== */

.nav-opt {
    position: relative;
    height: 150px;
    width: 150px;
    transition: 0.5s;
    animation: scaleAndFade 1s ease-in-out 0s 0; /**/
}

.nav-opt:not(.no-hover):hover {
    transform: scale(1.2);
}

.nav-name {
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    font-size: 70px;
    font-weight: lighter;
    color: #0a7599;
    opacity: 0;
    padding-right: 20px;
}

.nav-loader-container{
    position: relative;
    height: 100%;
    width: 100%;
}

.nav-loader {
    border: 15px solid #0a7599;
    border-radius: 50%;
    border-bottom-color: transparent;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
}

.load-one {
    transform: rotate(35deg);
    animation: navSpinOne linear 2s infinite 0s;
}

.load-two {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-35deg);
    animation: navSpinTwo linear 2s infinite 0s;
}

.nav-line{
    position: absolute;
    height: 0;
    left: 50%;
    transform: translate(-50%,-16px);
    border-left: 29px solid #0a7599;
}

/* ========== Animations ========== */

@keyframes navSpinOne{
    100%{
        transform: rotate(395deg);
    }
}

@keyframes navSpinTwo{
    100%{
        transform: rotate(325deg);
    }
}

@keyframes navSpinContainer{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes drawLine{
    100% {
        height: 300px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scaleAndFade{
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideAndFade{
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

